Source: deepin-meta
Section: admin
Priority: optional
Maintainer: Leng Ganghua <hiweed@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: deepin-meta-desktop
Architecture: all
Depends: deepin-meta-gnome, deepin-info-main | deepin-info, 
  deepin-meta-codecs, ubuntu-system-adjustments
Description: All the packages installed by default in the Main Edition of Linux Deepin
 All the packages installed by default in the Main Edition of Linux Deepin.

Package: deepin-meta-gnome
Architecture: all
Depends: deepin-common, deepin-artwork-common, deepin-artwork-gnome, deepinsystem, 
  deepin-cursor-theme, deepin-default-settings, deepin-icons, deepin-themes, 
  deepin-tools, ibus, yong, yong-skins, arista, 
  gnome-globalmenu, gnome-window-applets, grub2-theme-deepin, aliedit,
  ttf-wqy-microhei, leafpad, expect, ntfs-config, chmsee, nautilus-share,
  tree, shutter, claws-mail, claws-mail-i18n, xscreensaver,  
  deepin-games, preload, dia, emesene,
  language-pack-zh-hans, language-pack-gnome-zh-hans, localepurge,
  wine, winetricks, deadbeef, remmina, shotwell, deepin-sample-music,
  cairo-dock-core, cairo-dock-plug-ins, openfetion, gwrite, 
  ndisgtk, ndiswrapper-common, ndiswrapper-utils-1.9, p7zip, gdebi, 
  nautilus-wallpaper, gtk-recordmydesktop, gnome-session-canberra,
  add-apt-key, compiz-check, compizconfig-settings-manager, 
  mintbackup, mintdesktop, mintmenu, mintupdate, mintupload, mintwifi, 
  nautilus-actions, nautilus-gksu, nautilus-open-terminal, 
  pppoe, pulseaudio-module-zeroconf, python-compizconfig, python-mutagen,
  software-properties-gtk, startupmanager, unrar, unshield,
  usb-creator-gtk, xdg-user-dirs, xdg-user-dirs-gtk
Description: Set of packages common to all Gnome-based editions of Linux Deepin
 Set of packages common to all Gnome-based editions of Linux Deepin.

Package: deepin-meta-print
Architecture: all
Depends: cups, cups-bsd, cups-driver-gutenprint, cups-pdf, foo2zjs, splix,
  foomatic-db-compressed-ppds, ghostscript-cups, hplip, hplip-cups, hplip-data,
  hpijs, min12xxw, libgutenprint2, foomatic-db-engine,
  foomatic-filters, libgutenprint2, openprinting-ppds, python-cupshelpers,
  pnm2ppa, system-config-printer-common, system-config-printer-gnome,
  system-config-printer-udev, pxljr
Description: Printing support for Linux Deepin
 cups, hplip, foomatic, etc.

Package: deepin-meta-bluetooth
Architecture: all
Depends: bluez-cups, bluez, gnome-bluetooth, bluez-alsa, bluez-gstreamer
Description: Bluetooth support for Linux Deepin
 bluez, gnome-bluetooth, etc.

Package: deepin-meta-scan
Architecture: all
Depends: libsane-hpaio, sane-utils, simple-scan, simple-ccsm
Description: Scanning support for Linux Deepin
 sane-utils, simple-scan, etc.

Package: deepin-meta-codecs
Architecture: any
Depends: gstreamer0.10-esd, gstreamer0.10-ffmpeg, gstreamer0.10-pitfdll [i386], 
  gstreamer0.10-plugins-bad, gstreamer0.10-plugins-bad-multiverse, 
  gstreamer0.10-plugins-ugly, gstreamer0.10-plugins-ugly-multiverse, 
  gstreamer0.10-fluendo-mp3, gstreamer0.10-packagekit, gstreamer0.10-gnomevfs,
  libdvdcss2, libdvdnav4, libdvdread4, cabextract, totem-xine,
  mint-flashplugin [i386], mint-flashplugin-x64 [amd64], 
  w32codecs [i386], w64codecs [amd64]
Description: All the packages required for multimedia support in Linux Deepin.
 All the packages required for multimedia support in Linux Deepin.

Package: deepin-meta-conflicts
Architecture: all
Conflicts: grub2-theme-mint, mint-artwork-gnome, mint-search-addon, mint-stylish-addon,
  mintwelcome, ttf-droid, mint-meta-gnome, mint-meta-codecs, giver, cowsay, freepats,
  xchat-common, thunderbird, ghostscript, libsane, libopencc1, gsfonts, gdb,
  fortune-mod, fortunes-min, fortunes-husse, mint-x-icons, mint-x-theme, f-spot,
  mint-elementary-icons, mint-backgrounds-helena, mint-backgrounds-isadora,
  mint-backgrounds-julia, mint-local-repository, ubiquity-slideshow-mint,
  libc6-dev, language-pack-gnome-en-base, language-pack-en-base, cups-common,
  erlang-syntax-tools, erlang-crypto, erlang-xmerl, erlang-inets, erlang-ssl,
  erlang-mnesia, erlang-runtime-tools, erlang-public-key, erlang-base,
  linux-libc-dev, manpages-dev, rhythmbox, rhythmbox-plugins, rhythmbox-plugin-cdrecorder,
  aspell, aspell-en, dictionaries-common, hunspell-en-ca, hunspell-en-us, myspell-en-au,
  myspell-en-gb, myspell-en-za, openoffice.org-base-core, openoffice.org-calc,
  openoffice.org-common, openoffice.org-core, openoffice.org-draw,
  openoffice.org-emailmerge, openoffice.org-gnome, openoffice.org-gtk,
  openoffice.org-impress, openoffice.org-l10n-common, ure, uno-libs3, netpbm,
  openoffice.org-l10n-zh-cn, openoffice.org-math, openoffice.org-style-tango,
  openoffice.org-writer, python-uno, wbritish, mono-runtime, geoip-database,
  min12xxw, libgutenprint2, foomatic-db-engine, foomatic-filters,
  libgutenprint2, openprinting-ppds, python-cupshelpers, liblouis-data,
  ttf-dejavu, ttf-dejavu-extra, ttf-liberation, ttf-ubuntu-title,
  tcl8.4, libsnmp15, guile-1.8-libs, libvala-0.10-0, libgsl0ldbl, 
  bogofilter-common, gwibber, aptoncd, espeak-data, w3m, libcryptui0,
  lftp, telepathy-gabble,libgegl-0.0-0, bluez, branding-ubuntu,
  xscreensaver-gl, wamerican, vim-common, dnsmasq-base, telepathy-salut,
  libgoo-canvas-perl, cli-common, gedit, gnome-screenshot, gnome-dictionary,
  padevchooser, paman, paprefs, pavucontrol, pavumeter, pidgin-data,
  pidgin-libnotify, pidgin-facebookchat, skype, mintnanny, ttf-dejavu-core,
  mousetweaks, ttf-dejavu-core, libevolution, mintinstall, mintinstall-icons,
  gimp, ttf-liberation, gthumb-data, libcrypto++8, gnome-screensaver,
  libwxgtk2.8-0, ubuntu-sso-client, python-twisted-core,
  libpurple0, gnome-colors-common, shiki-colors-metacity-theme, 
  libwxbase2.8-0, rdesktop, libtelepathy-glib0, librecode0, libgvc5,
  libgtksourceview2.0-common, libsilc-1.1-2, libnet-ssleay-perl,
  libmtp8, libsnmp-base, libstlport4.6ldbl, libopenexr6, protobuf-compiler,
  libgd2-xpm, libwpd8c2a, libvisual-0.4-plugins, libgstfarsight0.10-0,
  libilmbase6, libatspi1.0-0, python-wadllib, libgraphite3, libsasl2-modules,
  libraptor1, libsqlite0, libgdiplus, libgtkhtml-editor-common, libgail-common,
  libupnp3, libc-dev-bin, libglew1.5, samba, cmbclient, winbind
Description: Linux Deepin Meta Package to Remove Packages from CD
 This packages is a meta one which is used to remove some packages.

Package: deepin-games
Architecture: any
Depends: quadrapassel, gnomine, gnome-mahjongg
Description: Game-collection for Linux Deepin.
 This meta packages will install several choosed Gnome games.
 * quadrapassel - 俄罗斯方块
 * gnomine - 挖雷
 * gnome-mahjongg - 对对碰（麻将）
