Source: deepin-meta
Section: metapackages
Priority: optional
Maintainer: Zhang Cheng <zhangcheng@linuxdeepin.com>
Standards-Version: 3.9.2
Build-Depends: cdbs (>= 0.4.90),
               debhelper (>= 8),
               gnome-pkg-tools (>= 0.10)

Package: deepin-gnome-core
Architecture: any
Depends: brasero,
         dconf-gsettings-backend,
         eog,
         evince,
         evolution-data-server,
         sound-theme-freedesktop,
         gcalctool,
         gconf-editor,
         glib-networking,
         gnome-bluetooth,
         gnome-control-center,
         gnome-disk-utility,
         gnome-icon-theme,
         gnome-icon-theme-symbolic,
         gnome-keyring,
         libpam-gnome-keyring,
         gnome-menus,
         gnome-power-manager,
         gnome-screensaver,
         gnome-session,
         gnome-session-fallback,
	 gnome-session-canberra,
         gnome-settings-daemon,
         gnome-shell,
         gnome-system-monitor,
         gnome-terminal,
         gnome-themes-standard,
         gnome-user-share,
         baobab,
         gnome-screenshot,
         gnome-search-tool | tracker-gui,
         gsettings-desktop-schemas,
	 gnome-media,
         gstreamer0.10-pulseaudio,
         libgail-3-common,
         gvfs-backends,
         gvfs-bin,
         libcanberra-pulse,
         metacity,
         nautilus,
         network-manager-gnome,
         network-manager-pptp-gnome,
         notification-daemon,
         policykit-1-gnome,
         pulseaudio,
         yelp,
         zenity,
         ${misc:Depends}
Replaces: deepin-meta-gnome
Conflicts: deepin-meta-gnome
Suggests: deepin-desktop
Description: The GNOME Desktop Environment -- essential components
 These are the core components of the GNOME Desktop environment, an
 intuitive and attractive desktop.
 .
 This meta-package depends on a basic set of programs, including a file
 manager, an image viewer and other tools.
 .
 It contains the official “core” modules of the GNOME desktop.

Package: deepin-desktop
Architecture: any
Depends: deepin-gnome-core,
# codecs
    libavcodec-extra-53,
    libdvdcss2,
    libdvdnav4,
    libdvdread4,
    w32codecs [i386] | w64codecs [amd64],
# desktop applications
    alacarte,
    brasero,
    brasero-cdrkit,
    cdparanoia,
    chmsee,
    deadbeef,
    empathy,
    eog,
    evince,
    fcitx,
    fcitx-config-gtk,
    fcitx-frontend-gtk2,
    fcitx-frontend-gtk3,
    fcitx-googlepinyin,
    fcitx-module-dbus,
    fcitx-module-x11,
    fcitx-table,
    fcitx-table-wubi,
    fcitx-ui-classic,
    im-config,
    file-roller,
    gnome-media,
    gnome-mplayer,
    gnome-online-accounts,
    gnome-power-manager,
    gnome-shell-extensions,
    gnome-tweak-tool,
    iptux,
    libreoffice-calc,
    libreoffice-impress,
    libreoffice-writer,
    nautilus-gksu,
    nautilus-open-terminal,
    nautilus-share,
    nautilus-wallpaper,
    notify-osd,
    notify-osd-icons,
    remmina,
    remmina-plugin-rdp,
    remmina-plugin-vnc,
    shotwell,
    shutter,
    uget,
    usb-creator-gtk,
# deepin specific
    deepin-artwork-common,
    deepin-artwork-gnome,
    deepin-cursor-theme,
    deepin-default-settings,
    deepin-firefox-addons,
    deepin-fontselector,
    deepin-games,
    deepin-gse-all,
    deepin-icons,
    deepin-sample-music,
    deepin-software-center,
    deepin-themes,
    deepin-tools,
    deepinsystem,
    grub2-theme-deepin,
    ttf-liberation,
    x-ttcidfont-conf,
    zukitwo-gtk-theme,
# utils
    appmenu-gtk,
    appmenu-gtk3,
    arj,
    avahi-utils,
    bamfdaemon,
    bash-completion,
    bc,
    binfmt-support,
    bsdmainutils,
    cli-common,
    colord,
    command-not-found,
    dialog,
    dnsmasq-base,
    dosfstools,
    exiv2,
    ftp,
    lftp,
    gdebi,
    groff-base,
    icc-profiles-free,
    localepurge,
    lsof,
    manpages,
    media-player-info,
    mlocate,
    netpbm,
    p7zip,
    p7zip-full,
    p7zip-rar,
    policykit-desktop-privileges,
    poppler-data,
    poppler-utils,
    pppoe,
    preload,
    pulseaudio,
    pulseaudio-esound-compat,
    pulseaudio-module-bluetooth,
    pulseaudio-module-gconf,
    pulseaudio-module-x11,
    pulseaudio-module-zeroconf,
    rsync,
    samba,
    samba-client,
    ssh,
    telnet,
    tree,
    unrar,
    unrar-free,
    unzip,
    vim-tiny,
    wireless-tools,
    wodim,
    wpasupplicant,
    xdg-user-dirs,
    xdg-user-dirs-gtk,
    xdg-utils,
    xkb-data,
    xml-core,
    xul-ext-ubufox,
    zip,
    zoo,
# hardware and driver and such
    alsa-base, 
    alsa-utils,
    b43-fwcutter,
    bcmwl-kernel-source,
    blueman,
    cups-driver-gutenprint,
    firmware-b43-installer,
    hwdata,
    jockey-gtk,
    mobile-broadband-provider-info,
    modemmanager,
    mousetweaks,
    ndisgtk,
    ntfs-config,
    toshset,
    usb-modeswitch,
# other 
    dmz-cursor-theme,
    lightdm
Replaces: deepin-meta-desktop
Conflicts: deepin-meta-desktop
Description: The Deepin desktop system
 This package depends on all of the packages in the Deepin desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.
